<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DBPoolApp</display-name>
  <welcome-file-list>
    <welcome-file>customer_register.html</welcome-file>   
  </welcome-file-list>
  
  <servlet>
    <servlet-name>cust</servlet-name>
    <servlet-class>com.shaan.servlet.CustomerRegistrationServlet</servlet-class>
    <init-param>
      <param-name>Jndi</param-name>
      <param-value>java:/comp/env/DsJndi</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>cust</servlet-name>
      <url-pattern>/custurl</url-pattern>
  </servlet-mapping>
</web-app>